/** Variables **/
:root {
    --primary: #5D98B8;
    --secondary: #028AB6;
    --light: #fff;
    --dark: #272727;
}



/** Containers **/
.member-content-container { padding: 12px 42px 32px 42px; }



/** Images **/
.member-photo { border-top-left-radius: 8px; border-top-right-radius: 8px; width: 100% }
.member-photo img { display: block; height: 224px; object-fit: cover; width: 100%; border-top-left-radius: 8px!important; border-top-right-radius: 8px!important; }
.elementor img {
    border: none;
    border-radius: 0;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    box-shadow: none;
    height: auto!important;
    max-width: none!important;
  }


/** Members List Styles  **/
.members-list { color: var(--dark); font-family: "Poppins", sans-serif; display: grid; grid-template-columns: auto auto auto; gap: 53px; justify-content: start; }
.member-item { -webkit-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.35); -moz-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.35); box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.35); border-radius: 8px; display: flex; justify-content: center; flex-direction: column; align-items: center; text-align: center; }
.member-item--title { color: var(--dark); }
.my-button { color: var(--light); display: inline-block; padding: 10px 32px; background-color: var(--primary); color: white; text-decoration: none; border-radius: 5px; font-weight: bold; }
.my-button:hover { background-color: var(--secondary); color: var(--light); /* Darker blue on hover */ }


/** Single Page stlyes **/
.members-title { font-family: "Poppins", sans-serif; font-size: 32px; margin: 0 0 12px 0; }
.member-photo-featured img { display: block; height: 350px; object-fit: cover; width: 100%; border-radius: 8px!important; }
.dsm-members-signle-container { display: flex; justify-content: center; }
.members-single-page { width: 960px; } 
.dsm-members-page-single-wrapper { display: grid; grid-template-columns: auto auto; padding: 62px 42px 62px 42px; gap: 53px}

/** Single Page Contact Info */
.dsm_contact--info { background-color: var(--primary); display: flex; flex-direction: column; justify-content: start; padding: 22px; border-radius: 8px; }
i { color: var(--light); }
.dsm-contact-info--title { color: var(--dark); font-size: 22px; }
a.contact-links { color: var(--light); }
a.contact-links:hover { color: var(--secondary) }

/** Media Queries **/
@media only screen and (max-width: 996px) {
    .members-list { grid-template-columns: auto auto; padding: 12px 82px; }
    .member-content-container { padding: 12px 32px 32px 32px; }
  }

@media only screen and (max-width: 716px) {
    .members-list { grid-template-columns: auto auto; padding: 12px 42px; gap: 32px; }
    .member-content-container { padding: 12px 22px 22px 22px; }
}
@media only screen and (max-width: 636px) {
    .members-list { grid-template-columns: auto; padding: 12px 42px; gap: 32px; }
    .member-content-container { padding: 12px 22px 22px 22px; }
}
